@model IEnumerable<Shop.Web.Models.ProductModel>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Precio
            </th>
            <th>
                Categoría
            </th>
            <th>
                Descontinuado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
