@model IEnumerable<Shop.Web.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Clientes</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CustId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.CustId  })
                </td>
            </tr>
        }
    </tbody>
</table>